### Angular ###
frontend/dist/
frontend/tmp/
frontend/app/**/*.js
frontend/app/**/*.js.map
frontend/node_modules/
frontend/bower_components/
# misc
frontend/.sass-cache/
frontend/connect.lock/
frontend/coverage/
frontend/libpeerconnection.log/
frontend/npm-debug.log
frontend/testem.log
frontend/typings/
frontend/.angular/

frontend/.vscode/


### Node ###
backend/node_modules/
# backend/.env


# IDEs and editors
.idea/
# System Files
.DS_Store/
# e2e
e2e/*.js
e2e/*.map