#header {
    height: 55px;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: rgb(224, 145, 55);
    display: flex;
    align-items: center;
}

.center {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    align-items: center;
}

#logo .logo-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#logo h1 {
    margin: 0;
    /* Elimina el margen predeterminado del h1 */
    font-size: 1.5rem;
    /* Ajusta el tamaño del texto si es necesario */
}

#brand {
    margin-left: 11px;
    color: rgb(0, 0, 0);
    font-size: 27px;
}

#menu {
    display: flex;
    align-items: center;
}

#menu ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#menu ul li {
    list-style: none;
}
nav button {
    background-color: rgb(177, 113, 40);
    color: whitesmoke;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: rgb(118, 72, 20);
    color: white;
}