<app-header></app-header>
<section>
  <div class="center">
    <div class="form-container">
      <form action="#" method="post" class="form">
        <h2>{{ this.globalText.form.titulo }}</h2>
        <label for="nombre">{{ this.globalText.form.nombre }}:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="product.nombre"
          required
        />

        <label for="fecha">{{ this.globalText.form.fecha }}:</label>
        <input
          type="date"
          id="fecha"
          name="fecha"
          [(ngModel)]="product.fecha_vencimiento"
          required
        />

        <label for="stock">{{ this.globalText.form.stock }}:</label>
        <input
          type="number"
          id="stock"
          name="stock"
          [(ngModel)]="product.stock"
          required
        />

        <label for="precio">{{ this.globalText.form.precio }}:</label>
        <input
          type="number"
          id="precio"
          name="precio"
          step="0.01"
          [(ngModel)]="product.precio"
          required
        />

        <label for="urlImagen">{{ this.globalText.form.urlImagen }}:</label>
        <input
          type="url"
          id="urlImagen"
          name="urlImagen"
          [(ngModel)]="product.url_img"
          required
        />

        <button type="submit" (click)="guardarProduct()">Guardar</button>
      </form>
    </div>
  </div>
</section>
