<app-header></app-header>
<div class="titulo-ecommerce">
  <h2>{{ this.globalText.slider.titulo }}</h2>
</div>
<app-slider />
<div id="home">
  <div class="center">
    <div id="contenido">
      <div class="mensaje-ecommerce">
        <p>{{ this.globalText.slider.horario }}</p>
        <p>{{ this.globalText.slider.horario2 }}</p>
      </div>
      <h1 class="subheader">{{ this.globalText.home.subheader }}</h1>
      <div id="listCards">
        <div class="colLista">
          <div class="cardd" *ngFor="let categoria of arrayCategorias">
            <div class="image-wrap">
              <img src="{{ categoria.url_img }}" alt="comida" />
            </div>

            <div class="contenidooo">
              <h3>{{ categoria.nombre }}</h3>
              <button (click)="navigateProducts(categoria)">
                {{ this.globalText.home.botonVerProductos }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
